                                    </div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row" style="min-height:10vh"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center text-lg-start text-white footer">
            <div class="container p-4 pb-0">
                <section class="">
                    <div class="row">
                        <div class="col">
                            <p>Website created by Mitch J Shaw</p>
                            <p><a href=mailto:"&#109;&#046;&#106;&#046;&#115;&#104;&#097;&#119;&#046;&#099;&#097;&#114;&#101;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Please report any bugs or issues here.</a></p>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    </div>
</div>
