<%- include("_header") %>

<!-- <script src="../index.js" type="text/javascript"></script> -->

<p></p>
<p id="pre-carousel" class="fs-4 body-text">
  <%= pre_carousel_text %>
</p>
<div id="promo-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#promo-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#promo-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#promo-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#promo-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#promo-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="../images/carousel/Carousel1.JPG" class="d-block w-100 rounded" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../images/carousel/Carousel2.JPG" class="d-block w-100 rounded" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../images/carousel/Carousel3.JPG" class="d-block w-100 rounded" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../images/carousel/Carousel4.JPG" class="d-block w-100 rounded" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../images/carousel/Carousel5.JPG" class="d-block w-100 rounded" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#promo-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#promo-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p></p>
<p id="post-carousel" class="fs-4 body-text">
  <%= post_carousel_text %>
</p>
</div>
</div>
<%- include("_footer") %>