.home-nav-panel {
  --bs-bg-opacity: 0.6;
  background-color: rgba(113, 84, 161, var(--bs-bg-opacity)) !important;
  z-index: -0;
}

@media screen and (min-width: 992px) {
  .navbar .container-fluid,
  .navbar-expand-lg .navbar-collapse,
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar {
    width: 18%;
    height: 100vh;
  }
}

.card {
  --bs-bg-opacity: 0.6;
  background-color: rgba(113, 84, 161, var(--bs-bg-opacity)) !important;
}

.wrap {
  position: relative;
}

.wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: linear-gradient(
    rgba(10, 87, 31, 0.5), 
    rgba(10, 87, 31, 0.5)),
    url(/Images/Background/BackgroundImage.JPG); 
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
  background-blend-mode: multiply;
}

.wrap:after {
  --bs-bg-opacity: 1;
  background-color: rgba(113, 84, 161, var(--bs-bg-opacity)) !important;
}

.main-div {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  --bs-bg-opacity: 1;
  background-color: rgba(113, 84, 161, var(--bs-bg-opacity)) !important;
  z-index: 1;
}

.nav-link {
  color: lightblue !important;
  font-weight: 600 !important;
}

.title-text {
  color: black;
  font-weight: 700 !important;
}

.body-text {
  color: lightgrey !important;
}

.carousel-item img {
  margin: 0 auto; /* this will align the image to center. */
  width: auto; /* for those images which don't have a width specified, but has a max-height will be auto adjusted */
}

table {
  color: lightgrey !important;
}

td {
  padding-right: 20px;
}

a:link {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightpink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

iframe {
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
}
